
@font-face {
  font-family: 'GESSTwoMedium-Medium';
  src: url('https://github.com/geek4notes/gessfont/raw/master/GESSTwoMedium-Medium.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GESSTwoMedium-Medium';
  src:  url('https://github.com/geek4notes/gessfont/raw/master/GESSTwoMedium-Medium.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADmgAA8AAAAAeDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA5hAAAABoA
AAAcQV+84UdERUYAADOAAAAARgAAAFAF3gSqR1BPUwAAN7AAAAHRAAACqE9yVVRHU1VCAAAzyAAA
A+cAAAgG04L3nU9TLzIAAAHMAAAAWgAAAGCFuUn7Y21hcAAABFAAAAJNAAADzFDAlslnYXNwAAAz
eAAAAAgAAAAI//8AA2dseWYAAAiQAAAjGgAATRzPfHH4aGVhZAAAAVgAAAAzAAAANhhc7zhoaGVh
AAABjAAAACAAAAAkCOAEY2htdHgAAAIoAAACJwAAA+QHNBdDbG9jYQAABqAAAAHwAAAB9L5s0Oht
YXhwAAABrAAAAB4AAAAgAUAASW5hbWUAACusAAACJQAABSv1PjE5cG9zdAAALdQAAAWjAAAPRopl
OjN42mNgZGBgYGRoNtJV3RTPb/OVqZv5BVCE4cbzq6dh9P++f6msScxXgVwOBjAAAKhoD8gAeNpj
YGRgYLb8L8CwhTX6f9+/f6xJDEARFPATAJupB0t42mNgZGBg+MngxsDKAAJMQMzIABJzAPMZACPF
AYoAAHjaY2Bi8mL8wsDKwMDUxRTBwMDgzbSHqQtIf2UwYmTmYGPiYmVmYmRiYmJpYFBgbmBgBEox
aIAIQyf/UAYHBoV//5kt/wswbGGeyjgfKOzAgAAKDMwAl1MNeAAAeNqNk8FrE1EQxr+ZjVaskYpN
bUDrYhu1sS0qRauH1EObHEQEEcV49iBa9OalFBG9iif9AwR7UKyeFIJH40HEHjQgCh6EYhtIomnV
EHX83mYDqyB04Zf53m52vpl5b2UZ4+Alx/hTIwsYQBMJHYePGSTkAPrlMjJyCr5OIysFZPEaSbnL
d3qpm8jqRjLGZzXs0yEMB+sU9geMYDfeIal9mNaTOMh4FL/hy0dsDeIMuuQKPa9jB2O/XmLeC9gm
d5DXHua5TY95JB3yC7u0AxmUECcpjQd6UL+z1hJy3g3WuBm+i4HeHuEQMg6ZRNoRa8APWGnh7Wmh
x1ugaF+8J9Tvw1xPGVOt6Dyct/MNvIENIetIN+kh60mypa3K2EE6Vzszeci8z9DrkGWM8d0tKJm1
+5JJa7j6Vr0HrqpuexXGm1Jk3k7OnOhz7JQ8c/9kvmH7IHNWju2lz2mr6zWr6mPql1b21lpNCtaQ
UVuQR7bIvj6FffaRLjIgeaS5F3773MReUOcRJymd4vzz3KervDdiP+hTC9Yt32Cttzhnt3Yec7YU
6jr1YrSO/+pZ7gvhOU071pxlvvNW9+Zt6S99mPoc9X17G9XeReoTVvNmbSWiy/qZHkfsm77hPCI6
OidvMKJZtz7gf1eo3X4NWcX15xV4/wzvT1nF84O+K+2+tcrnCfvq5uRmFMwpnLVOYFTvkQnkGHP/
xvY3zPMA2cRF0ZruW3LXH4/XBqAAeNqtk2lQzkEcxz//elpHD+U+Kj0lMe7cR5Rr3OQFwxg0vJMS
Y4yJ0pBQZrx1nwm57/so5Mh9hM6nQs6EF+b//J/+a6uZXiBjjO/M7s7O7uxn9/v9LeBKdfNGUz0u
mWqmVc0tLmlqDCcUN2z4E0AnBjCYGcwilh0c4ALP+S6swkv4igFisogUC0ScSBQbRIrQbZ42nwA/
Y5IxzYg0Yo1kQzpnV4RUfDWjzYXmInOxucSMMZeZcabTlFIqkk0R2tOFYKYrwtJfCH4iVISL6BpC
uc1q81aEMGOKMdeIMZIM0zmzIvg3hPhKgiyRxdIuC2WBzJDpMlUmyBgZIcNkkMPH4eGwOtwdQnfq
Dr1ML9Wz9Sw93h5ln5MXTo0s6y1BrlNdUrUiza4VagVavpan5Wo5oH2rdu+f1IGOdKePendtCqzq
I1jBPFaSwCrmk8hq1hDJWpJIJop1dFbebaQrm+jGZnXiFoLYyja200N52ZOd7GI3vUihN3tIZa9i
7mM/afRVTh/kEP04zBGO0p9jHOeESvskAzmlbnaaQZxR2Z/lHOcJUblc5JKqjMtc4SpDSCeDawzl
OjfIZBg3ucVthnOHLO4ygnvc5wEjecgjHjOKJzzlGaPJVvm+YAwvySGXseSRTwHjKMROEeMppoRX
TOA1E3lDGKW85R3v+cBHPlHGZ8r5ovwX1ASguVSW8U8OqkVXixtqW5269eq7Y23Q0MOzUeMmTZs1
b9GyFa29vP+UkE8bX1WdtcvPvy3/S+0C1Teo1vL4yuL4W/0AxKTmrgAAAHjaPcI7aBphAADg///v
4XlvH3ee91Lv9DhCkBIkg0gopRzSoUjJUDI4SJESHEqQ4BAk3NChBAmSIUMoEhxEOkkJHUIIJYgU
hwyhBAeHUBwyiUjoUEJbKOX7AADRf9aAB9qgAy7BDFJQhytwHT6HJViGDdiBY/gThZGD8qiGmqiF
TtEAXaEbNENLbAVbx7b/OMIusFtsgZN4Et/Cm3gHHxI08YSoE/tEn5iQFFkgd8hTckI+BNRANuAF
/MA1hVMbVIU6oM6pBfUYzAV3g4PgNY3oLP2KbtJdekL/YtaYTabKHDE9ZsI8siqbZ7fYKltnW+wZ
e8fxnMsVuBLncyfcgBtxM27Bq/xLvsUP+KUABF5whZKwJ/SEr8J34V7URVf0xLJYF32xKw5DIJQL
VUMHobOwEi6Fu+F5xImUI+8jvcg4mo02ol8kWnoh7Utd6Uq6l4tyQ/4kz2NWbDt2HPsW+6Gwiqt4
yp7SV8bKPG7Fi/F38UF8qtKqp9bUtnqjAW1VK2o1zdc+ahMd6I6+o/f1O0M2CkbFODFGxtKUzbxZ
Nj+Yn81pQk88TfiJUWKRzCcPkxcpKvUstZsaWshKWhtWxWpYh9bYerBd+7Vdt9v2pb1Mu+nNtJ8+
T08zIJPLvM10MreO6HjOG8f/r/XXbx2Mh2Z42u18eXxT1bb/2fu0TZu0adJMzdA2czoPSZN0oDNQ
SgttmYQylbbMTdIGGUQERAsqIjgP6EXxevX9vPJ8PvV3cUCezys4D9d5uL6PPlDxiv70p17vs6dv
7X1O0kxt8X3eH/ePy4ckhzZnTXvttb5r7XVgMNPAMOhxfJ5hGRHDuExyk0LukjegrdzV9X/D50e7
8fDoQYbBjJVhmLvwfiadkTGMwm1RKXNRHnI1II8c/nHXJTiF1VRqRMmXoBt+/hnJipR3352v5S7b
tQvuVaHfMP+Jj/E8FBaFi7zWztPn3gIvfIz7Fsm4b+G3xrE1OBefYPKYfKaMYWyVDrvDrdaoNV74
tKhSRCkqpUZld4jUGpXL7UF2h91d6fV4FUpRisitxrnthT67NdtWv3JNyfqKpo8WL2peeX3xp9x3
TpnVpC673aLw+u5eXKLV3pksTcuaXS0e3Cgxlw1cXvRQaumcuszhYTUalqRlWfPlkhTuaLEmXfLb
TDAPlX8tlZ8JSU6kZsjvLGPrkQd/SqySHJLHQSXNQ8jTXlzUk11aONfb95Z61bTB9Zcd32EqL6tt
v/rhX47J6P31cH8X3K+AfxB9qXZqFdFI4/F6UNfG0tostqCjsGipqqJoYVk/cjx6bU25lPXWbVy/
4/hluc6ypun7GUrLyMiQBxUycrCdW+R1iBwijUPlFWm8Gq8DeQINReWlZY3+QENJaUVZ81UVkpU5
fn/uynSXqDdncG32KkJjJlOAPVjDSAgNC1jdonKBsbHn34aeeWbo25WnT688dYp+7yzajGYTm9jc
JhXazL1xdmCAl0ML7zcyO8nvXEDhxu07d9Kfk7d7wYfg58iCXOheP/eSH+8f3UzprWXeRK3kd163
Q/XmtWsPz7iD/pxhHsPbKC25SP5YAG/rHn2f5wO/Q6fxXvBJBrlTLEYtcsnB/i502lnDnQsUlHZh
ax/iDnJ/QV3d9TNC92AFvpzIiIgXS7HFU4fgIgWUBdd3Ob0erBhMyso3mxabqwOB/cu8jdiwut1o
smVKula3V5c+MroLrS8s52WogLdn8AiTyzAmt8UMDuCpRZEXxGfhpXahZx4rq64uq/E4PGWlh4/N
W7/96ktXLPeWOKvbndYiV8+imdusuh3dawhdzJQwDvQzXsBkUEmJZ1CnUrucHgfISul7cxH6ua+z
qrKzd8fGDZcGGz3exi5HYQfSr12/UKno8fUO79m7obG9vdF1lUpzZazNFG61C2xmkQN1y0xnDVIn
Mhnc44S370HHFNBRYZEgiwItv2V736bg7Xhk9CecNnpp/PdYC+vSI/T9LTfcHtzUB9+7FItHf+R1
y4fvfQHfyyRWQ5V2i5nubNDNq3Kx4PpmfiO5nBo1+mJPX19dXWWtr63EH9TmDBj12hynK0+P7u3d
01DXv66x1f0XdNhlKSiwud3mgkIbz4P6IOoR4hqstJd64nbwxQ8hKFF5d8Dbx+hPTDLI6/BaRBr0
8blzW8+d+xL+Ehpe5ipsQL/jaSDw8mR4YQOnR2fgNbO398Qqumfax35ER9ELhI7NYdGIXOjoOd+5
c75PKB3Yl2OXMh/jVwkVDXEyeH28ZMnTIy34lZZfHuJlMcDbCX5vmGBzoBPcSz7kppuDiaUhhz0J
r4+f7ukZYec3j7qm89+Rjd2JfGMkkjJEUuTj7h1YsID/nXVsGHXidxkLwyRVOkqR113pAMcnVoYr
c0oOIiHHooZPWAgv6kQLmlNmzcrVL8LDfSplAV5Q5Fibc1V2Esr3vOgu8xa/WCdXpSnEjW0v5uh1
cm/Jiy25JszzMo9tYlbht4kcGhDU3NBwgO2jsXIYzeVlUFd665EDFtleR5zbAldOnrfGxcticVgm
F6GqKLEImMkZ41A1CkIM08CK8FHZQTzMEXGNqq0SWYNtdf9Ga7qs0T7QZyrUGp3Lq+2zfb4uS4GO
Xrf5fV28P/UAzS1hmpUQpYUY7Yi4Rlv67Q2ZGZb8VdevtjfK0q35/U/6Zturl1eYdAWWTj+9dhrh
uovfi23odfQ1jbUOPlyTWI1eHxlpHLmyaWSk6cqRA9ddNz30lwGLzmSqcRdOpT4p4WNYMvVMiwpd
MYTqRn9E0wLo2h07jqxd++iOHeF4fBPDMWK6Eyq9bgglOeimGqc327pzRoo7PctQvV/YMzehj4C2
NLxnQt++cfulNc4qjXXnzo93zUj2pCv01dcSuziAwWf4FsbEwMYjGZnfzHmIz2LEuey82WE7q1Us
kfOz5PSKe5bUN0+32NMlyKeTmgpSNTUOZ613O/q3GsMuZ+XShVXabLWySJWs6bMrsw1indnmavFw
HZBJIGcCp7NoL6OmMTcUKrylSAgkwOLsO9osld0j71LNr+x0u+RLg4byfF2ex1vuqarqKs4PEtkz
QN9PWSXoqyDZxSJXOEhkBSoaIqzL+XjgcJo6WzZbrs9OU6qzp8v0eO/odvyhxeAsNOudhAYJN2+y
S4GGRqBBJaIC2fnob1E9HtjfnaXIzE6yqgpNJWn5lMrxUokuU6NWFJdaUnJKydrWjy1FX+NnAUsY
KP5xV/IUSGBMEamcbCjwg3AOyiaKC/p6S9/KbVt75+Sw697fVF1cUuMtKq/BvVk5irQqXU2+J7lc
+qfVl+9cPbDbtYNdgq50tc52V7a1nmlI1dt1utrqwgxlA9GpYMzFvAM5IqyTJqFOB8M6GUt5nV4p
lehlGrW8tJxXCWgZx3rwu7gtpJHFQwIOkDCBKg47zbwadS2CrIviNcLv/pTjLp539J9Ratb7m+qm
DfUPXC86NDDAteyUluRJynQtpdPEnoc3Ttep1v2f33w5sznQH7hxVV/fKjSrRa6vMRprG8sNqhay
B1pBmsepTlSjxwNEXiqfjR1AzzNKJpugErKRLSZBMlkBcnrcZIuxA/5Cwxzu/NLS6gCqRxtnd3NP
+NHz78/RK4yOvgcf5M4sbOdGhoZIrEgCHMagv+FHYb+pYE/lkHhhN0clb7qEZC+YyH7428ir+/au
W3/Fpia3p7XRUzXjXj8q9n83uP+qjRuuvWZdfeeCHV3zkSIAfxjiJ0CfHcAeKrNhEqktiSX/ztft
i5EdOXjiSQLttwTaxkmoaybmcLPvxQQ8nhsaukvQgdh9KRrDBO9ZqV+oFJU0dqiIZTQhREARlIPH
Umib/4e69ttK8w3O9kXSS9fXzZjfdlnXJW67rbX6G30ggNT9Xf3yXln7vJqmHTuaqzdbzFUNs/nc
yfMy8khqci5jE/JAFQkZhHT5gdeFmGZqLsv9SDYhIwyexP0+sTYMH/+wFnxWSuIfJtHVogKopAJw
osWnLVpDR13+bdwtQYRa0jFek2Z6LkhtTu/DN4KcWYKc0XejDh+qiSCArYHA6EcxZIB/4VgPsgH/
VOIdciXcDh5hG9q/5xL0PLfnut5L9vI5k34PXw/80nl+mvC3rf4A+T42BwLLhFvIOvUkvQZ0C3mP
UBYhHprDpxv2LHFDYkByScGix2uCt6TXhhf6NMMLe5KHK2pXrKx1Dq9ctueKZXolOtrhbjr/3lm/
dtUHZwKmHKTmfuqb2dXVugqlcecODfStMVjdTcTnCV+2DPiWAob1/CrukTthckm4T/0v+bp8UwqE
26L3SU/SK+g0xBETrLbHLTOZodYFGWgqIMKQqOK1meoRya9Jp5M5rvtIy3Bw8ZJNw09cseBACTrP
NZfdO791QX0h6u1b+iT304brrttAOB54YWF3cP3Vw6to7Q18YK20fCafmhOJXpNxW+ufmB86BNph
GmskUAdISP71qnieIgUgZJ6FyIjPJnOjd+/NCCwBmrPm42CQEH0IbRj9ev3VwV4jE46HEpCd0NGE
ZCd0LKpIadkUgVgv3kqFnDV/2BemFwwSilQyPmb04DKQzUi9oRRFpz8pgmgeqvNcuOxlQ4G3tFq7
wDW8ZLNt0Zpbtz34r7MW3PlCQNyWX9nsyd+wdfm0Junu5YNXBFpqrgjnxTK2CehbL4ADabhMxOUm
3wR8cBqvy9j/g/dXmWCoHn/142AwbLdb6P7MJpicuDIjQA4NYRyK994Q7nCq8Xk/Uu/s699lOLJm
WQBq+P6BtGpnRUNNXwPZy1zv6b17Vlc3oM6eW2/lzpytam2vqpnZzu8x/CTw0oF3FUB1SzA05UXR
jRQJ7EI5MgLm0ByJn0TB3pX+4ZXeAvWOjrU7Npw8tP/k+qoV1bXFJbXXk3R5dDC5f2jT85sMLQv2
+I49sf/pE//fO7OtxtvR8T6/mbCQ20Ygtzn4yBWX12zxGCRBevuERx/alrI6iQePcOsi09yZFrmh
2mic1lSuzW5hwr50G/AlfRm5sKHCyuLbYPf0BGH37Dn+MHqbq1p/8OD6hX0HXngp5Ccsi04BkjBR
HAECp6jkLjnJIrH9AIIp2Mv6ubP+S4eaq+cZdvX37dxUW+ZsrHa66j8a2HdoO3cX6uhe4Zzev/eK
/qrWDm/VrHbBF2+DtSFohZcwLtYR3wBJI8PaMo7zPxwfwlajUep2vL3R39CXFAdNgIHisU8M7KF5
i+BisAHBxZOj4sQQOCHqFdblXfQjj/wgToRwqbA4tcQjAILql/ZQBPqBb+fQKcCfp5G+0UXw5t7h
/sD1f3z+EN1L3GWUliG8oydGuqyQLyLh7QfBcXj7gr/TnwDUcr3UkTGTju9kPmCtTBrtxULl6a3H
Xk8mShEBzw8O56aJzTNz2CIRXO0XFbFWq9iARZkpSJwDVzlIzAg03mGrGD2RVlEZjjoWj7sSEAsY
E2CfWgOL5SR1HNj3HYNWpTWIi2VyW55YKtWpWHHbfKdYnqfCY2pLnsKoTpMpdcV5khyjNCmrqUUm
USmkeh3wSuVWM+9wXyeW953DBklIXoME5OW+jpcXMUp8B9Qkn5HeEqFAb8wRw9fxZ1aJjnwJM2rQ
6STopCB+ogj3laB+tYAmpOEQ0uUk6CKWGcR5OYZ0rLOXlFE9WEZlSZepQBGxWJkkyXDWZIqzZRl6
LfAXc/cxL3HfEMxD+Ndjl+elO3LT7G1GtpD7xirRp8pEYlJrg5x/Zp3E9xVQzwM/i7kM0YsU4Qr8
luwCd+WHmSYpytCmSEwSnJkmTs40ylItJawyW52Nz8xJmcEmZ+ZVitypSWKFfEZqhx3q/EwR1fMO
5gibD6gKKmBFeDcARaog3Q13pbvNVrvBbJspV5kVKvxtlTXHlm/LTS4xKe1GNSnWx77B/8I8B/Vv
JpE1uvJ9LrbuHa95ESPCx5lHoeZV0JOAuMrw0ehaN7bORYwE6ss/jL1L7k9UWf4hqq6Mqyn//nrF
Mmuupi/POd4rzsszpWc2r26vKvtHr/jvvldMcRA6QHsDtKdGwJbNglykY/xkL3L2cz/2v7sKS5ct
2za63bhsGZU/e+xW5kbmZtJTA0GUUOt5wTeyaU/t5vGm2q/+bhXxEXQlqe1sDpHDEmoKeh3ombRr
7ErHNWmbK+XBYbnrB6Xy4EGVavn+jBUrMq8h92rwF0w1ews9pwKgpzGb8RfHGHZsDCifYxvg5zIS
MWiXqtJBLCmC7WNReR0el1r1eODeWSKFxqrLNpy+vKioiDapnr4kTaqpqUWNeTmoBTUI/Q3u4XDP
ZOIeQSjLaRL2CP4KOe7V2BYBd2wI/vwm3EcJ9wjIuhTzdVmI5NT9gls7q+beMPfnCcvspV3wZ6iz
E81MWGonjf1M6le2HGI+OfVURlS7odYNcRG+8j3hR0V+uT9UAKMXiCZHCBJK5nE21Je8HkamSKiG
BW2mxNzf+F4Ca6GLJ8Ddzwj14kTg+x8x8x8x8385ZtKzXMBkb4b6qUq4Hi0FTPEK/LyVTSLxSzF+
pgELr2ktK5PC3/JyqU1pw7eW08uy8gzbaDf+Z1uI5l64V8xjJ+ouIs3eaVJrr3KuXYpP1Umto6X4
hF1KZRi7jsjAfx9kAGYQJV1yZa9VOm2a1D4Xv2mV1tVJ7aPNJAYzJ9HTzOfU/01uUza6j1t60sHb
y4xeZL7G+wCfEkQDMANKgRTwiPDV17qZXbkI12hbyQfe11jcPQvpyoubiuhnPA3wfI9KLXJ5SP3q
0ZCrrztzcYW2dWMnUHBqW7F7XhvWlxU3Fc5rQzr4hHhnZ6rxUVQHEUMOcdUhnMDL4eV28S+5A3yp
CNFd5ICFLEJusoj46C6r8cjBg7c/ndeZYepZqVJ2WnTKoipvTmZpdd4Z7pe8xXmdedwvV27ISuJ+
SVYMeg1ZzydnMXxuQH7IDRlQmRv5PTZe+LHxWQL5mxs0xkB+UTeKyhZBuaYNHeUq5pdVJkgaNGck
pULO4DviJsqJDwyRicOUHBHhk1Kf1g6ly1zc74W0kevv8r3qDxoW/8dZj9osZI1HQikjaewj7mGU
Djwk4Pm0EwS1rIpaSeVyiiIoo/ShVJl34eADSf4u/2v+x5D8K0+WKRgmBbS+AlongBYfs7XkRDXi
/nHZgTZS+7pILguezA6kZ1WsC5FBXSFRad+U5oGkGewOgWYl0xKdB2juAmjAH5lBZON3rQZ4hO1D
awcIVcKoCenbKtlCyA9dfvTlhg55qT47w+ip6WjfbEjP1pXKO07ytnviYGfHjfdoHDnG5jzLdouR
zQgEjhA5R28ISqw1Lq9dP8tRNG9WrsNbUWWVgG1JCvF6X5IrpZryLrfZbrdUdjPJY9+Ds3vDuSw7
1PGOy2WQH8dzGKnMD9HuJ0liAztzjqCBgbTa8orG2nJndAK7fE2jN3iW9CZI6koe+wb43Ry2WQHF
R5HJN2yzaIOpEhkKHIhP0iPrOuTl2uwDy4iZNLpyxezNlx6a03noHlW+MbfZCAbKw34hgf/yfVBi
q3Z5V28h1nG7wDpBsItMlaku76q02O1mdzePVfCzYazijsYqNrqrHPSAcmLAooYdJ4AW9JTOUzBN
Kj+4OyF02Sdt6N4Ugi+qoLnMf3BfHICZXT+X92P8YNiPTTF+zGOoFCj0PXw6UJlUJvQdwWZ+dOV1
XUMtTbXljkyrp8QRqKscPY5Php37lq9WeA26ktqcArWio2lFEHh9C7hQEeZljtsz9gTcMOvr9sHm
+WBDxtVz10WzOxGxk15fUB7FjRHw2RuAz8L73USiJQ/RvFEQ7Y3fD+1fuzvj//LrH0QLCEpb1IXN
YZRGYuHZMRtShuNHXPSgZ3VKEjlWbLn/JCFFAodbYQp+SMjwNL4EGqG4oRq3gC06YigJnntbiBf0
7g+jYgU79hn+LfM6+zajZ6YxMybv0Gim6jOE2x4P6bUqrV5cLMuy54mlGQZVUlrbPLPcKEUZuhSJ
UYJkqZKkzDxZqrkUky7EArEsV8XepbLkKnOz0zIVtLuTJ03NbN4/N7UlKTkz151amZQqlWVNT5lr
95iUsvS3ZGJ1VoZeR+oqMb6b+Zwl83x2cvpLcvpkYmr4vg7pC5H2yssyYyYRy5QOYomTx8XSZt+R
m3aNqCRN6L8Us0NzRdPTaK+ETcuQyWeI5tBeSVod3z/K4dszEpKnc/HtzHl2M2Co/HAnaWIDegTR
PrmD9JoK5SASkmpTJGbSsJGwtGGj1iKFVp3NbrbRPpS/I2U6myIllhFjYhkQJkdrVmeKaK0pw0eY
M+zLgI/KGG/0uv6Kpaw8bgA76CX12dLWBQVUqtACipOlRmophU6dvUKSCQt4E11AjUShad7XIRLW
zZUsksrk01Pm2D1mpSz1bbJu0kqKh6z4MMLsJshXBRfQxdII7bCzskg/ogsmsvB+pAt1ylj7HNF0
lvAXucFvMuVgHZsb/IYttwktNLBRIcUkFbRfmBvfMVREYZS/xvY794UAClsR20gcLYuAKeHaH/yh
gngr6c/T2njcD+Hj8cD9PF2BPCmLKeUcHNmf/PuZA6U6Jf2OzYfsXENiBwk7FnMd/0EAqZJfOzei
hxGh800CM+Ai1FrPRS6TE4UyeC1i15mkBpMhHZtKLekZpmJUH8grflQbsBbVDf3UGxha2e6W9zeh
Dx745eVGd0Xd9JrVbP4MiHtum2rG3LKiorLRD9Hr3KLGAsNidDO3ur58G6rbM7x+T3tLN2povmj+
tJkLhZkcWHvSk8yJ70pGr/ynMT3K+0MLH25WjnbGrDed1wH6pHdpSty9RFE83ozqZaK2MIvoruZo
azQjOsuDt+JnmSxASGUUs8SN6wCkF07AalEK5CyvI4yWNGhb5NgO+vjqzUt7d+9eulGz+N81w/0l
9bUVha5kNBY5ucOh4MV9u3Y8t2/O4vuCbZWuem8p6Ns65kJ+qAWpvom6rbYoff8W1XtFppC+0V3Y
VyK15c+oDuA20NWZUNNk0IuULRT6qKKPv4ifIa0wztNcVpvmZgcLixrymq8sTkkv81zZSw9ddjyW
bensQavDUz16dcv35VVb16DasjmBqy7uH7rx9DUXuy10jcf+ClKk49+DPLkJ5aHj60JiR+nA2ygu
0zaX1Yk9Pwt1AToFnKrz8uoay3NULdz59x4haZ7Q/pbOaT4ItEnfy5toVaNKA7Qzs8QkJmeF09Lc
6G4h5QN9maEqN28a1YSrhuR//0NC8qezSnTNMmLrsfHiK86vjWO2cH01QW2VqKY6GVtOfUiBDNgQ
cIxEwEJxSAhJAtRO9yNfBASi9307ZhXwj5xHPzHIR+VHGsEIHw0NfRSBeujsEb4Lf0GrX3qKRrSP
DknseEAKHw3f1RoRgB4Rgs88gs+C8THmAQrV+BiZij2hCa3EFlMILGKtVk8OnGMMh06F5rPGzsL6
Kek8QhyOZCfFkeQIXaBxjvrZDSEcGZIk2r0WEzmQWrAntpC7Rz+OtWmSGL81Vd2tiBxjET8Tpe1h
Os0Voy4eCE2pJJGaEClZVeK6m42scKnWfdvvXzr43GDTYKjuxo/09x/qhz9AiwxMn4D6MgO8INaX
gV6knOiEoPgpWv+G1Q7Xk8KcmVCXlfA1WfKF12KDfvTc1HWYPhDQT1KCwZ74aswq1GBCH2GCuusG
P9qXqOaCjYLMseUW3Ws2od7ShfdaohqLEP4mUX31Iak7YisrFLZZQSj+XIi18LNTm2oyMzFo7CtQ
6kEaw+izP/EWwg8mMs/MONMALYjT1DbCjHACaqwikUniC82QD/3Az61cuEXozMQFWIW7yjexYTCd
KsW8bfCNwoxGYv8h/BJaiPvcH2skMtsn5DNWAXTVxIcmsBSdgE1oLXTUH2swSpifUTwF9s+kVKOH
FE8dm2hKkZ9RPEVnFBWhGUVL3JDiF8emmFLkZxTfoPkrqisQ6gSEWwChOcU3hHgd9W1FRO8gJbJt
QGxH50eS+/h5xXCUmnpqMLnvQS0/J7g0dk4w6G6dfDqQ73tDvGVbgK+eYRwqkzOWsZu/sGTg6xYN
8pzWZQ0vDAav2BiinmJY/MGftxBakGfY/wBaBoaxJFDCHbpQsz+GxCbE1kSIKhBL4u0ROUf5K6wS
2UScxEKolbYRpzRURA5I4u0FcumZPMZC+uqTWQ253BZyeiqCV4wFUdDvX+HzPe3zxdsSzxnivhf4
UZsCPx7F5E9h2UiGsVZG74U5xto7zJDi7+QmOiPKd/CxZbLJzeSmLcmj3UeaIoc2/0LnITvmBNGi
VT3H4yY29/G4mtixDvhIaVQNT4gSJcYHLavoSGjT0MJ5+J2IwdNVPVcf2xLkp00JrbeB1mNhWmGZ
o2k9RiVtGVo4hH8UaIGEfUv3R5DiZ1eTm+jsagg1Tm4BAkkms8Jq/0R2QDNCvUJqC+ApFSLnBNYg
kTOBRfjh2AibCHOnLG+XCLoTWIbQTWCdtf5o+whkhdnHrRGztpRu1Kwte9Ewy90TOWsLtCJGbflc
4QzRSDhlW5LMjR7Zm+7/A36Na6w8Mn/WvIj5Wt9IsJeu/Q9A5xFKRxnSMJqOkn1kOJm7e5/U/yx+
j2ty3gOEQsIEgxv3Da9SheZXt9K4HUKK8ZRE1FRbBdWW4U3C5C/2+8cpEgVFavSQsAa8nlPPE8dr
O+SP0Te8rpC/2acoTfqkSWKtCdGnLuU1fxl/Kmi+0RejO7ovnH8wOQ8uFs7GSf+gCE06SVyLoIjC
3+tblkqWaprTMqMnim+4jE4U36s5vDy4fhkanypuq5TuXj60i0wVL9hMc9CPsJBG9DLBaia3KeoZ
LOHZHSN31qrP9XbqerXrm9fsVl8fLGiucRTPKZ0249rV1eVBPqaQ851P0VuwloVhbAXIw0tnO8iz
3ymi0HEOOZCEf4ngCy4n/vQps1ip9NTVZFzy2wN7qusa1Bab3vW7BwJ+nb20SKy0Fua1r5wzZ24Q
J6ls7bMc6+ZtkObnmzWpouCsHEU2as+15mdeZCoQ5l+/Z5vAo8rDmOPCrYme9KH7pjYofhNgSunk
ZgV7ULuGcF5iy1KcF2dddLM/xsA8xAPfIzb+BGgaaWb+NVYmNTb+5PiFWVrrn8rW/0IE4mvvGfjP
kBm9TK0gz//k3JPUqjN+xaFnh+9XnHWii0mfgD/vBNul889aWSc63yTCYG/84abXtyfmUBMlh3II
PdsEO7BQl0d43oWfZ17iR9dc2FEmOead8hSTn7nqYWsgTmXT50D4CpCcN9EWTGTnzutQCUPcoUYM
W7P79dVDh3a3bKbz+e8sbCuZ0+0qX3eIdkvu+dOu9Vv3NfGz+b/7r6tbr51zaLx/ADa+ifY6lLSv
NuVp8l/I82VbEpwl2+hB8vLYg2R6XjhubxHoVjl+kvyrT5GL/chxoWfIF2h6PkcnZUE8VxHMSCBj
CCtH9WliO45JWaei2jVnIp9OCBoWoyPc0og21Ujc8wnULtcCXxlfWRYhr4UNl9zXQkFZsW/kj5/7
GzyjH+K7SCH5DPdeR/PyoHAvy/LPNvDVY+TdLLst4+rOdeO3k2IxdDPNX2wt3KuO0Da6OczW/lNK
6PGI+YeKgsZc8oTEhuv4JyQWz+XlP0/7vSP0OWreYkJrl3SbVm554DFy8EAbuLQvgJ4I91ZDFiad
ySee4rtJ4yYLCr3tN9Ep2Pv5oSwLkTjuIQxwE1tkNHjT2TTbrAi2c18EdgjPYlxSvzDIfTOt1AmO
6qoPdl/c1Bl+IKNlYO+yeR9VtbZXV83q4PPi2P24Cm2DilQ3HnXywDAu4JY1zgpXkU2A0TWPNl3c
LyYPe9SVVRSC+69Oy0oOLkHG4ExClNI8P/ZPeCe6BPaYSdjXoce1NTxdr50Mh4VSDt45UF+3eqCh
Hg3e3rjp4qZZupw19bpcl9sYzOmf3tLUNKCWBC+66PlBi73D67bkF4SeV3HT53xyo304pt6jWMd9
b0pEfbewbWbh236yxrEFXWnRHL7mxsJaXx/fl2bDcz2w4tgX2VId79tfT/uKMT1FFNlLRPaIRqI5
/NwQvgvnAxrMDfekUyboSpNu9K60QFw/OrgN1aP48y4iF34VL4J4a6RIsxI7RLmAMUQWj3s8+jHk
iahKjxM/Jz5+d8bgtehKnW9Jz6DuRnS4squyYlF1/VOINW5Un96dldZQsGT9hsUFDUGUuqyublkt
jyu+g31qBD4aYe2j+YTOgng2xIGNS/5wj5QyGnzEp7sG3UD4FBW4gs+gJNNG9R93KSWE0folwOiD
knrgU8MIz+rgrbBfSA+f97GJjrjw1oSHWvGHWKFnqNgDqBsqeMY2xXESe2CiA6RgoiMj+uyOQJt2
B6aiH360ekI+3OX+Tn8iZtxlfE/if2/W5EmgwffKY7w6NHmCnnxKC57t3Aie3Tnu2zwZTLIgNuPX
QIq88DNxrEVBEq7HjWLOX7HZZ1CXXrZl5+2oqHsl93n4AFahoQ+JjHD90w1q9DJXGVzUin4OPzIi
8DkOfGRCjyIcFyiz2INefPxwUojVszFcggAovxhnhG8ZZ0POO4k+rAz0sSTQJ8H5Z4xO0Qe+MRq9
USrWC4e+IkNpmN9x4CcTOg8xeiViGKHbQ1HcYjXzx7Ljz3NhvUb+x/q9F/2fNkTpx90S//83EH7H
KTZIpJ9mCv3+NYpbjH4xT/Ygfu2obnGaRWsRLXbozBQ/wWOYOCnxE3eGJYqRgeKH/4p5PvZP5PnY
/waXWeSmAAB42q2SwW7TQBCG/7XTphEIpVHhwIW9kaLWOGkPRZEKTRVVFSqtcMPdStzEimsX20nV
C+LGiSdA4sYTcOPElXfgxANw4QX41xlUovZQImI5883M7j+z4wVwX21DYfp7irfCClX8ELZQVraw
jQfquXAJVfVeeAEP1U/hRaxYz4TLeGJ9E17CXfuxcIX8WriKiv1BeBmL9mfhGqr2d1ZUpQq9N0V1
wwoaX4Ut3MEvYRvb6pZwCVqNhBfwQn0UXkTduidcRmp1hZfwyLaFK+SOcBU1+53wMm7bn4Rr0PYX
7CLBGS6QIsQAQ+TsrI4eVmnbzI0ZSWkz+vuI6QX0Y/ikkHFDEdaYbcLlswmHvMNYRHupmhVeQGv2
T/jf50rsJmcXaTgY5rreW9XtZJynSab34zxIYz8Pk9iP1nTTdTcdvRNFulia6TTIgnQS9Cmwhw6V
PT4axzhnRxoHhXrI3k+5oKM9Tx+fJ/og6IdjRl4yPWAyYusp3WAwjnxCgw1ND9Eit3GILskUMPJT
8b+l12cLNRz22Wq0D7utvY7nseK04PqfunO0+qqYViaT1jMtHhVChk3U2CajQ67M+f3M+onscPlu
YItyQZpxpnra6pGnXbfhuG6zNUzyXhJPmHCdjS3c/NDznVTTmgvh8zXXy2cmYNx8jxFjCU7+6fo5
V2enw0z7Ok/9fnDqpyOdnFx/u7j15nVwrcT/ULg6scsTYXbk81+n35uQ7ucAAAB42nVXZ3sTRxDe
11RJWMW2jA02JaR3SkgHAuk9pDkNs9KtfGfp7mTdSkJK77333guEdEhI7739lXzNp2TvdHvaPZCf
x2b2nbK378zsLKSPBD//7SaryL5+/hW/IH1kFplN5pB5JElSZAFZQdIkS3JkgAySIZInw2QhGSGj
ZBFZTMbIOFlKlpHlZB1ZTzaQjWQLmSRb0Ue2kx3kH7IHszAbczAX8zAfCSSRwgL0I40MsshhAIMY
Qh7DWIgRjGIRFmMM41iCpViG5dgPK7A/DsCBOAgH4xAcisNwOI7AkTgKR2MlVmE11uAYrMWxOA7H
4wSciJNwMtZhPTbgFGzEJpyK03A6zsCZOAtn4xyci/NwPi7AhbgIm3ExLsGluAyXY4LsIrtxBa7E
Vbga12ALJrEVFAUUYYChhCmYsDCNMiqw4cBFFTOowQNHHQ00sQ0ttHEtrsP1uAE34ibcjFtwK27D
7bgDd+Iu3I17cC/uw/14AA/iITyMR/AoHsPjeAJP4ik8jWfwLJ7D83gBL+IlvIxX8Cpew+t4A2/i
LWzHDryNnXgH7+I9vI8P8CE+wi7sxsf4BHvwKT7D5/gCX+IrfI1v8C2+w/f4AT/iJ/yMX/ArfsPv
+AN/4i+yE3/PcwpelRZZqujaNqU1WrCKGY/ZVtGtuE5nnZ6pM49bcpkyqd0OTYdohZVsahiUFtwG
U8COURccbNJmHOsaFljFbYaGLWbGDZO+YUdMFJjZkbKcmTatFeo8/JgEl6okNyNxmjE71JtUguVI
TBi0EjlJMVGL3NvUCs+d9BiTFHhmJCc8akShpMSj8O1IigKlpsxI7ueUNxmT+5bkvokZKg9cjqQK
DU+StKNDJR1XJiYRHTohyO5IuU6Cyl69JllqSat0iYojcyrTbFBRAt1lmXq17jIVGIdyYBnKgVlH
XuCZQSmEHNXLdUldt0SS3dwmu6lPtlnNDb/PdZhksRliKW7WmKyFkivOEoqWrJCEZ22T+7JGlCdm
TZlcEmXJwP1VVisyJ1QMG6xo2bTisaoAuBsGH+GmW/eoY3gxRZp6nNUsryy7pS7CecWaVeU+2QHj
TepVqOW5FcqZkahKxlO82M3RdCQ1pDTGtnHmGCwsI8sxrKJhTVncp2dxL6UgrKdOUDjeU+eT2nNL
n+beSkF8zz1FKnruGSSnpzZIV89N/QQGheK4067lzPdFX0gJwrlIj++cCv5y14dSZqtqMse2nLo3
12AVxlk6Sk5JdGAlLTITCOGNIpaWY3FLAhkB2MyI1umGbt+I2zd0+2yQb8VjIAA0n1wAabtMaz4j
SgtrngsVheo/1GlDvZ1DUG/qXAdUWntA8e0gEznFswPlAxYtbsoLJPjakTgq6z/v1hzxr58S0Uii
70zmWd5wBw3ypcD9tFKhpnQd1eeLwsqoPmRUvrRJs0+X4M5RXbSZoygWaQqN/VFNpfKf8fdRgqQL
etUU4lVT0POf7w42NQrXo/B4FK5HyXC99HI8XnlZHiu8jD8rVRd/rbv4iFarYpCqXyWW+lcJQNui
rDvkynGPbDnmIuZSRfHI+GNa5aWmHTPjD2x17U9tdUN/rW/oI1rXBtNd7doA0Ls2gLTPFO8AlQmx
1JkQQOxYmr0Rtzdi9lxnmseZ5jHa2rp9O27fjtnrvGX9u0azF4DGUvCKUVkKAJ2lANJ2KelVXIpX
cSl2F4p3kGo/47eEai8Azb6s25fj9uWYvXhTqfZiqdsLQKtfO9Yi9l4tYsdaJOO/0FQXf627+Ije
VTpL8c7NxCeGuPIU+2FlMKid0tKjtuJRW3rUJf57U7t/5bUc6Mf2UivBpa9yeaq+43upFd8JzTm4
q3s7x6/yiXyo1VyKAyGqWOb990PTMrjpuIUaE3T5/xHq27S5b3LNrMmVq3Ni4pmWOFqdh8/Q2ZOr
1qz9HxgrdnMAAAAAAf//AAJ42mNgZGBg4ANiDwYQYGLgZGBk0AFiXQZDIM+IoQ/I7meYCmRPY5gO
ZM8AQiaGmQwvgexXDB+B7E8MP4BsFrBuBgA5IwqJAAB42uWVWWyUVRTH//eb6TAWRCANSGOIicT0
QSoUrVBKxaqICGPZClRjMhSKE6dTUhpCeOABAUshigqEpZYqlZ3KJkLFiqXUgoBYkKVFRPZV0Adf
8ffd+To8+WDCizGT75xz13POvff8RkZSsrK1XU64NDxJnaPhspielJ9+3bunDjJy5KOdpACt9n53
XTAcjpYpo7CweJqyiiKxsHIjsUiZhkWml0QVikamhpVfPGVyREWlNBRljcNnrHZ3de1HrOxq+x5W
Z3Qg4S2oh+xoF6SPODuqk7oRXboylaOhCilfb6lIMc3QbM3X+1qmKq1VrfVhtNjzUcWORsYp8PSy
uPYFPD3c03Vx7Q96OtXTpZ6e4+k/4zppiCvRoz1d5OmYp1viOjAAGfCyfoqfNEoT3BFTqzRyeFOT
9DZZzCSLcrJYrs+0Wbu0T006rBad1gXd0l8sSDYpppdJMxkm2ww1eabATDYxU2ZmmbmmwiwxVaYG
H320ApmulcintQrZV5XE3E+faDWn4ShD1bT761OtwZejZ1RD+1l9rnWcn5/zXa+N2oD1nDZpC9H4
NYBz3aovsAZqm3a4b0ZZ2okcpC+R2UTsaLC+YkaOdqtOe7Ce19f6RnuxhqiejL7FekHfab8asHLV
SI4HsF7U9zqoZqyXdIisf8B6WUf0o45ivaJjnMNPWMN0XD/rBNarOsnJnMIarjNqUyvWazqrc/oF
a4R+1W86jzWS07uki8QW0mXk67pCb56u6rqu0X5H7r1G9a7maS5WsRZooSoYiWkR7RJeVrnesy+2
DzGJaPLUk3UleoJbzKK/E6+yLzrIC07BcvQG5++ogBWOJjLLz024bWPvIW75uIcQexk8BXjZj9ld
sjgBd9YHzBpvrcUJ68OE9VHC+thaSbY2HlUv9bYrR9sZ4+yKsXaHMXZmPp9hdLytjFwbezp366e+
uqg7MSxlxqj/UA4hWslU1f0MbtCzQr8jK3UXWU31OFTD/Rl37Nht2/uHnXHTrnFp18pbMtyi4Tbd
2JaTYxtvyK3lVr4J1l+mjTZFqXqcjNvnPAjP3RKel9ibcP1W/4/ON05KHx7bay3V1lrvxJix/JSN
NI1dV8K4SthWDc9qYNh6mFULo3bCpV3waDcMqoc5jTDmEEw5BkNOwoyzMOICTLgCC+ZQ/wuo9/n/
UOcu61Kh5xoIuREiboWAdZBtHyRrglyHIVULZDpNLucgzyXoMg+OlLMySLX0Y7/+/AyUHUhfDh46
4GEk/4B5/LpDoGL1wFcJPuPeqmDzWii8Gepuh6Z7oWcDtGyGjkeh4Qno1wrtzkO3a7CrwlLqX3v7
GwXIR7cAeNo9kj9oU1EUxr/7mtrSlEdHbTEuSgVFJJNDBx3cWyeHWPteEhSVDEXoIro5SHUoWEFs
6aBLyWLbwdI/g8ElUWkDBX2bVAc3B0fh+HvHWB55ud93fu/c71yugqQhXdCEomQ2SRXfS+43dFwF
fJnx+r/KyXC3PtvQYL7yX0GR/w8qRGUnx3RZ1zSjhh5oQSta0zvt6qMy/Q5RGAmj4XQoh4lwJ8yH
1bAdPoc/USk6z7ep1VS1VdXsp+p2oD6cmzgdnJarck9tuZpELULeUr8qtqRpy5RQq2oEZumI2YH5
7v3nULvU9nE+kTq127xr9s3ZS1SfUHnp6iJqE/VLxzRjh3TOcJ/i7vU6/HBurpfpq6urqGVqHziX
1B6hDlhVmahma05MoTYgMvyYpKl1VVTRGhq2K4rtusaYaNxe6CzpK/A36D/NCST2hi6POesiUw4z
YWwPIQ8htyDfQ3T9dAZ6RIcdTkFkTuQT1CEK7qS2TpI2fO7kSUr2Fvc17r9ELTo02eM5/B4dOuzR
JE1GmjZn0qZji+9feaKu71eyBeh96Da9ntGr6bP2Udk52jPgfWH+AW5ezJ05wa3p10mV6HSGZ0jj
OkeGiurkWuQZ/QuzcO+2AAAAeNpjYGBgZACCY6nbT4HovbVM3TAaAEmgBjwAAA==) format('woff'), url('https://github.com/geek4notes/gessfont/raw/master/GESSTwoMedium-Medium.ttf')  format('truetype'), url('https://raw.githubusercontent.com/geek4notes/gessfont/master/GESSTwoMedium-Medium.svg#GESSTwoMedium-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


